In [1]:
import pandas as pd

In [134]:
housing = pd.read_csv('housing.csv')
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [135]:
# Stratified sampling
import numpy as np

# median_income --> 분류 데이터로 나누기
housing['income_cat'] = np.ceil(housing.median_income / 1.5)
housing['income_cat'].where(housing.income_cat < 5, 5.0, inplace = True)

In [136]:
from sklearn.model_selection import StratifiedShuffleSplit

In [137]:
split = StratifiedShuffleSplit(n_splits = 1, test_size = 0.2, random_state=42)
split
for train_index, test_index in split.split(housing ,housing.income_cat):
    strat_train_set = housing.iloc[train_index]
    strat_test_set = housing.iloc[test_index]

# 책 말고...

In [7]:
# 학습데이터  features / labels 분리하기
housing = strat_train_set.drop('median_house_value', axis=1)
housing_labels = strat_train_set.median_house_value.copy()

In [58]:
housing_labels

17606    286600.0
18632    340600.0
14650    196900.0
3230      46300.0
3555     254500.0
19480    127900.0
8879     500001.0
13685    140200.0
4937      95000.0
4861     500001.0
16365     92100.0
19684     61500.0
19234    313000.0
13956     89000.0
2390     123900.0
11176    197400.0
15614    500001.0
2953      63300.0
13209    107000.0
6569     184200.0
5825     280900.0
18086    500001.0
16718    171300.0
13600    116600.0
13989     60800.0
15168    121100.0
6747     270700.0
7398     109900.0
5562     159600.0
16121    500001.0
           ...
12380    122500.0
5618     350000.0
10060    172800.0
18067    500001.0
4471     146600.0
19786     81300.0
9969     247600.0
14621    164100.0
579      254900.0
11682    185700.0
245      126800.0
12130    114200.0
16441    101800.0
11016    265600.0
19934     88900.0
1364     225000.0
1236     123500.0
5364     500001.0
11703    321600.0
10356    266000.0
15270    346700.0
3754     190200.0
12166    148800.0
6003     214800.0
7364     174300.0
6563     240200.0
12053    113000.0
13908     97800.0
11159    225900.0
15775    500001.0
Name: median_house_value, Length: 16512, dtype: float64

In [ ]:
# na 처리하기

In [8]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16512 entries, 17606 to 15775
Data columns (total 10 columns):
longitude             16512 non-null float64
latitude              16512 non-null float64
housing_median_age    16512 non-null float64
total_rooms           16512 non-null float64
total_bedrooms        16354 non-null float64
population            16512 non-null float64
households            16512 non-null float64
median_income         16512 non-null float64
ocean_proximity       16512 non-null object
income_cat            16512 non-null float64
dtypes: float64(9), object(1)
memory usage: 1.4+ MB

In [9]:
housing.fillna(housing.median(), inplace = True)

In [10]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16512 entries, 17606 to 15775
Data columns (total 10 columns):
longitude             16512 non-null float64
latitude              16512 non-null float64
housing_median_age    16512 non-null float64
total_rooms           16512 non-null float64
total_bedrooms        16512 non-null float64
population            16512 non-null float64
households            16512 non-null float64
median_income         16512 non-null float64
ocean_proximity       16512 non-null object
income_cat            16512 non-null float64
dtypes: float64(9), object(1)
memory usage: 1.4+ MB

In [12]:
import pandas as pd

In [19]:
housing_ocean = pd.get_dummies(housing.ocean_proximity)
housing_ocean.head()

       <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
17606          1       0       0         0           0
18632          1       0       0         0           0
14650          0       0       0         0           1
3230           0       1       0         0           0
3555           1       0       0         0           0

In [20]:
housing_ocean.drop('NEAR OCEAN',axis=1)   # 1개의 컬럼이 없어도 구분 가능함. 
housing_ocean.head()

       <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
17606          1       0       0         0           0
18632          1       0       0         0           0
14650          0       0       0         0           1
3230           0       1       0         0           0
3555           1       0       0         0           0

In [21]:
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,income_cat
17606,-121.89,37.29,38.0,1568.0,351.0,710.0,339.0,2.7042,<1H OCEAN,2.0
18632,-121.93,37.05,14.0,679.0,108.0,306.0,113.0,6.4214,<1H OCEAN,5.0
14650,-117.20,32.77,31.0,1952.0,471.0,936.0,462.0,2.8621,NEAR OCEAN,2.0
3230,-119.61,36.31,25.0,1847.0,371.0,1460.0,353.0,1.8839,INLAND,2.0
3555,-118.59,34.23,17.0,6592.0,1525.0,4459.0,1463.0,3.0347,<1H OCEAN,3.0

In [33]:
housing_pre = housing.drop('ocean_proximity', axis=1)
housing_train = pd.merge(housing_pre, housing_ocean, how = 'outer', left_index = True, right_index = True)

In [34]:
housing_train.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,income_cat,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
17606,-121.89,37.29,38.0,1568.0,351.0,710.0,339.0,2.7042,2.0,1,0,0,0,0
18632,-121.93,37.05,14.0,679.0,108.0,306.0,113.0,6.4214,5.0,1,0,0,0,0
14650,-117.20,32.77,31.0,1952.0,471.0,936.0,462.0,2.8621,2.0,0,0,0,0,1
3230,-119.61,36.31,25.0,1847.0,371.0,1460.0,353.0,1.8839,2.0,0,1,0,0,0
3555,-118.59,34.23,17.0,6592.0,1525.0,4459.0,1463.0,3.0347,3.0,1,0,0,0,0

In [146]:
# 테스트데이터 정리하기
strat_test_set.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,income_cat
5241,-118.39,34.12,29.0,6447.0,1012.0,2184.0,960.0,8.2816,500001.0,<1H OCEAN,5.0
10970,-117.86,33.77,39.0,4159.0,655.0,1669.0,651.0,4.6111,240300.0,<1H OCEAN,4.0
20351,-119.05,34.21,27.0,4357.0,926.0,2110.0,876.0,3.0119,218200.0,<1H OCEAN,3.0
6568,-118.15,34.20,52.0,1786.0,306.0,1018.0,322.0,4.1518,182100.0,INLAND,3.0
13285,-117.68,34.07,32.0,1775.0,314.0,1067.0,302.0,4.0375,121300.0,INLAND,3.0

In [139]:
# test_labels = strat_test_set.median_house_value.copy()

In [147]:
strat_test_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4128 entries, 5241 to 2398
Data columns (total 11 columns):
longitude             4128 non-null float64
latitude              4128 non-null float64
housing_median_age    4128 non-null float64
total_rooms           4128 non-null float64
total_bedrooms        4079 non-null float64
population            4128 non-null float64
households            4128 non-null float64
median_income         4128 non-null float64
median_house_value    4128 non-null float64
ocean_proximity       4128 non-null object
income_cat            4128 non-null float64
dtypes: float64(10), object(1)
memory usage: 387.0+ KB

In [148]:
test_set = strat_test_set.fillna(strat_test_set.median())

In [150]:
test_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4128 entries, 5241 to 2398
Data columns (total 11 columns):
longitude             4128 non-null float64
latitude              4128 non-null float64
housing_median_age    4128 non-null float64
total_rooms           4128 non-null float64
total_bedrooms        4128 non-null float64
population            4128 non-null float64
households            4128 non-null float64
median_income         4128 non-null float64
median_house_value    4128 non-null float64
ocean_proximity       4128 non-null object
income_cat            4128 non-null float64
dtypes: float64(10), object(1)
memory usage: 387.0+ KB

In [151]:
test_set_data_ocean = pd.get_dummies(test_set.ocean_proximity)[:-1]
test_set_data_ocean.head()

       <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
5241           1       0       0         0           0
10970          1       0       0         0           0
20351          1       0       0         0           0
6568           0       1       0         0           0
13285          0       1       0         0           0

In [152]:
test_set_data = test_set.drop('ocean_proximity',axis = 1)
test_prepared = pd.merge(test_set_data, test_set_data_ocean.astype(int), how = 'outer', left_index = True, right_index = True)
test_prepared.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,income_cat,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
13,-122.26,37.84,52.0,696.0,191.0,345.0,174.0,2.6736,191300.0,2.0,0.0,0.0,0.0,1.0,0.0
14,-122.26,37.85,52.0,2643.0,626.0,1212.0,620.0,1.9167,159200.0,2.0,0.0,0.0,0.0,1.0,0.0
15,-122.26,37.85,50.0,1120.0,283.0,697.0,264.0,2.1250,140000.0,2.0,0.0,0.0,0.0,1.0,0.0
17,-122.27,37.85,52.0,1228.0,293.0,648.0,303.0,2.1202,155500.0,2.0,0.0,0.0,0.0,1.0,0.0
22,-122.27,37.84,52.0,2436.0,541.0,1015.0,478.0,1.7250,113900.0,2.0,0.0,0.0,0.0,1.0,0.0

In [153]:
test_prepared.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4128 entries, 13 to 20639
Data columns (total 15 columns):
longitude             4128 non-null float64
latitude              4128 non-null float64
housing_median_age    4128 non-null float64
total_rooms           4128 non-null float64
total_bedrooms        4128 non-null float64
population            4128 non-null float64
households            4128 non-null float64
median_income         4128 non-null float64
median_house_value    4128 non-null float64
income_cat            4128 non-null float64
<1H OCEAN             4127 non-null float64
INLAND                4127 non-null float64
ISLAND                4127 non-null float64
NEAR BAY              4127 non-null float64
NEAR OCEAN            4127 non-null float64
dtypes: float64(15)
memory usage: 516.0 KB

In [156]:
test_prepared = test_prepared[test_prepared.ISLAND.notna()]

In [157]:
test_labels = test_prepared.median_house_value
test_prepared.drop('median_house_value', axis=1, inplace = True)

In [158]:
test_prepared.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4127 entries, 13 to 20639
Data columns (total 14 columns):
longitude             4127 non-null float64
latitude              4127 non-null float64
housing_median_age    4127 non-null float64
total_rooms           4127 non-null float64
total_bedrooms        4127 non-null float64
population            4127 non-null float64
households            4127 non-null float64
median_income         4127 non-null float64
income_cat            4127 non-null float64
<1H OCEAN             4127 non-null float64
INLAND                4127 non-null float64
ISLAND                4127 non-null float64
NEAR BAY              4127 non-null float64
NEAR OCEAN            4127 non-null float64
dtypes: float64(14)
memory usage: 483.6 KB

### 머신러닝 진행하기

In [ ]:
housing

In [ ]:
# 학습데이터: housing_train
# 학습데이터 레이블 : housing_labels

# 테스트 데이터: test_prepared
# 테스트 데이터 레이블 : test_labels

 - linear regression

In [56]:
from sklearn.linear_model import LinearRegression

In [59]:
lin_reg = LinearRegression()
lin_reg.fit(housing_train, housing_labels)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [63]:
test_set

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,income_cat,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
13,-122.26,37.84,52.0,696.0,191.0,345.0,174.0,2.6736,2.0,0.0,0.0,0.0,1.0,0.0
14,-122.26,37.85,52.0,2643.0,626.0,1212.0,620.0,1.9167,2.0,0.0,0.0,0.0,1.0,0.0
15,-122.26,37.85,50.0,1120.0,283.0,697.0,264.0,2.1250,2.0,0.0,0.0,0.0,1.0,0.0
17,-122.27,37.85,52.0,1228.0,293.0,648.0,303.0,2.1202,2.0,0.0,0.0,0.0,1.0,0.0
22,-122.27,37.84,52.0,2436.0,541.0,1015.0,478.0,1.7250,2.0,0.0,0.0,0.0,1.0,0.0
23,-122.27,37.84,52.0,1688.0,337.0,853.0,325.0,2.1806,2.0,0.0,0.0,0.0,1.0,0.0
26,-122.28,37.85,49.0,1130.0,244.0,607.0,239.0,2.4597,2.0,0.0,0.0,0.0,1.0,0.0
33,-122.27,37.83,49.0,1655.0,366.0,754.0,329.0,1.3750,1.0,0.0,0.0,0.0,1.0,0.0
37,-122.28,37.83,52.0,1511.0,390.0,901.0,403.0,1.4103,1.0,0.0,0.0,0.0,1.0,0.0
39,-122.26,37.83,52.0,2432.0,715.0,1377.0,696.0,2.5898,2.0,0.0,0.0,0.0,1.0,0.0
51,-122.27,37.82,43.0,1868.0,456.0,1061.0,407.0,1.5045,2.0,0.0,0.0,0.0,1.0,0.0
54,-122.28,37.82,52.0,1170.0,235.0,701.0,233.0,1.6098,2.0,0.0,0.0,0.0,1.0,0.0
58,-122.28,37.82,52.0,1387.0,341.0,1074.0,304.0,1.2171,1.0,0.0,0.0,0.0,1.0,0.0
62,-122.29,37.81,50.0,760.0,190.0,377.0,122.0,0.9011,1.0,0.0,0.0,0.0,1.0,0.0
73,-122.29,37.81,46.0,12.0,4.0,18.0,7.0,0.4999,1.0,0.0,0.0,0.0,1.0,0.0
74,-122.29,37.81,20.0,835.0,161.0,290.0,133.0,2.4830,2.0,0.0,0.0,0.0,1.0,0.0
75,-122.28,37.81,17.0,1237.0,462.0,762.0,439.0,0.9241,1.0,0.0,0.0,0.0,1.0,0.0
79,-122.28,37.80,38.0,684.0,176.0,344.0,155.0,2.0114,2.0,0.0,0.0,0.0,1.0,0.0
84,-122.28,37.81,35.0,948.0,184.0,467.0,169.0,1.8088,2.0,0.0,0.0,0.0,1.0,0.0
86,-122.27,37.81,40.0,880.0,451.0,582.0,380.0,0.9770,1.0,0.0,0.0,0.0,1.0,0.0
92,-122.28,37.80,52.0,96.0,31.0,191.0,34.0,0.7500,1.0,0.0,0.0,0.0,1.0,0.0
96,-122.26,37.82,31.0,4596.0,1331.0,2048.0,1180.0,2.8345,2.0,0.0,0.0,0.0,1.0,0.0
101,-122.25,37.81,28.0,5806.0,1603.0,2563.0,1497.0,3.2177,3.0,0.0,0.0,0.0,1.0,0.0
114,-122.25,37.83,35.0,1613.0,428.0,675.0,422.0,3.4722,3.0,0.0,0.0,0.0,1.0,0.0
116,-122.25,37.83,28.0,5022.0,1750.0,2558.0,1661.0,2.4234,2.0,0.0,0.0,0.0,1.0,0.0
125,-122.22,37.85,28.0,5287.0,1048.0,2031.0,956.0,5.4570,4.0,0.0,0.0,0.0,1.0,0.0
126,-122.22,37.84,50.0,2935.0,473.0,1031.0,479.0,7.5000,5.0,0.0,0.0,0.0,1.0,0.0
136,-122.19,37.83,29.0,1791.0,271.0,661.0,269.0,6.8538,5.0,0.0,0.0,0.0,1.0,0.0
137,-122.19,37.82,32.0,1835.0,264.0,635.0,263.0,8.3170,5.0,0.0,0.0,0.0,1.0,0.0
143,-122.21,37.80,50.0,2833.0,605.0,1260.0,552.0,2.8929,2.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20491,-118.67,34.27,15.0,3221.0,659.0,1390.0,607.0,3.5313,3.0,1.0,0.0,0.0,0.0,0.0
20493,-118.65,34.27,23.0,1724.0,265.0,934.0,306.0,6.0783,5.0,1.0,0.0,0.0,0.0,0.0
20497,-118.70,34.30,23.0,2831.0,406.0,1284.0,393.0,6.1383,5.0,1.0,0.0,0.0,0.0,0.0
20501,-118.71,34.30,20.0,1586.0,187.0,699.0,209.0,6.5483,5.0,1.0,0.0,0.0,0.0,0.0
20503,-118.75,34.33,27.0,534.0,85.0,243.0,77.0,8.2787,5.0,1.0,0.0,0.0,0.0,0.0
20507,-121.52,38.59,35.0,6418.0,1545.0,3814.0,1496.0,1.6647,2.0,0.0,1.0,0.0,0.0,0.0
20515,-121.53,38.56,39.0,2438.0,483.0,1103.0,472.0,2.9375,2.0,0.0,1.0,0.0,0.0,0.0
20519,-121.53,38.58,33.0,4988.0,1169.0,2414.0,1075.0,1.9728,2.0,0.0,1.0,0.0,0.0,0.0
20523,-121.55,38.51,22.0,2403.0,431.0,1088.0,421.0,3.9000,3.0,0.0,1.0,0.0,0.0,0.0
20530,-121.76,38.57,11.0,15018.0,3008.0,7984.0,2962.0,3.1371,3.0,0.0,1.0,0.0,0.0,0.0
20539,-121.71,38.56,20.0,8627.0,1516.0,4071.0,1466.0,4.2198,3.0,0.0,1.0,0.0,0.0,0.0
20543,-121.74,38.55,33.0,6861.0,1820.0,3717.0,1767.0,1.7311,2.0,0.0,1.0,0.0,0.0,0.0
20544,-121.76,38.55,23.0,8800.0,1857.0,6330.0,1832.0,2.0650,2.0,0.0,1.0,0.0,0.0,0.0
20550,-121.79,38.69,23.0,1755.0,321.0,1061.0,313.0,2.8864,2.0,0.0,1.0,0.0,0.0,0.0
20552,-121.80,38.68,11.0,3851.0,892.0,1847.0,747.0,3.4331,3.0,0.0,1.0,0.0,0.0,0.0
20559,-121.79,38.67,30.0,2602.0,401.0,981.0,405.0,4.7222,4.0,0.0,1.0,0.0,0.0,0.0
20564,-121.71,38.72,32.0,710.0,155.0,550.0,154.0,2.8882,2.0,0.0,1.0,0.0,0.0,0.0
20565,-121.70,38.65,22.0,1360.0,282.0,808.0,229.0,2.4167,2.0,0.0,1.0,0.0,0.0,0.0
20576,-122.00,38.83,26.0,272.0,49.0,194.0,52.0,3.4187,3.0,0.0,1.0,0.0,0.0,0.0
20578,-121.81,38.84,37.0,352.0,65.0,238.0,67.0,2.8542,2.0,0.0,1.0,0.0,0.0,0.0
20587,-121.60,39.15,19.0,1396.0,336.0,940.0,309.0,1.5208,2.0,0.0,1.0,0.0,0.0,0.0
20592,-121.58,39.14,52.0,662.0,160.0,520.0,149.0,0.8928,1.0,0.0,1.0,0.0,0.0,0.0
20608,-121.59,39.10,24.0,1107.0,261.0,768.0,205.0,1.7167,2.0,0.0,1.0,0.0,0.0,0.0
20612,-121.56,39.08,26.0,1377.0,289.0,761.0,267.0,1.4934,1.0,0.0,1.0,0.0,0.0,0.0
20617,-121.53,39.06,20.0,561.0,109.0,308.0,114.0,3.3021,3.0,0.0,1.0,0.0,0.0,0.0
20621,-121.47,39.01,37.0,1244.0,247.0,484.0,157.0,2.3661,2.0,0.0,1.0,0.0,0.0,0.0
20625,-121.52,39.12,37.0,102.0,17.0,29.0,14.0,4.1250,3.0,0.0,1.0,0.0,0.0,0.0
20626,-121.43,39.18,36.0,1124.0,184.0,504.0,171.0,2.1667,2.0,0.0,1.0,0.0,0.0,0.0
20631,-121.40,39.33,15.0,2655.0,493.0,1200.0,432.0,3.5179,3.0,0.0,1.0,0.0,0.0,0.0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,2.0,0.0,1.0,0.0,0.0,0.0

In [159]:
# 평가하기  RMSE(mean_square_error)
from sklearn.metrics import mean_squared_error
housing_predictions = lin_reg.predict(test_prepared)
lin_mse = mean_squared_error(test_labels, housing_predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

67239.86615979002

 - Decision Tree Regression

In [160]:
from sklearn.tree import DecisionTreeRegressor

In [161]:
tree_reg = DecisionTreeRegressor()
tree_reg.fit(housing_train, housing_labels)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [163]:
housing_predictions = tree_reg.predict(test_prepared)
tree_mse = mean_squared_error(test_labels, housing_predictions)
tree_rmse = np.sqrt(tree_mse)
tree_rmse

68667.62394028611

### k-fold cross-validation

In [164]:
from sklearn.model_selection import cross_val_score

In [165]:
# 결정트리 모델
scores = cross_val_score(tree_reg, housing_train, housing_labels, 
                        scoring = 'neg_mean_squared_error', cv=10)
tree_rmse_scores = np.sqrt(-scores)

In [169]:
def display_scores(scores):
    print('Scores: ', scores)
    print('Mean: ', scores.mean())
    print('Standard Deviation: ' , scores.std())

In [170]:
display_scores(tree_rmse_scores)

Scores:  [66760.2835059  67344.04272267 71401.85322705 69691.34479855
 69337.24266684 75082.29051866 67930.11399549 70564.85043946
 70849.54754235 69454.77465071]
Mean:  69841.63440676845
Standard Deviation:  2263.867176119663

In [171]:
# 선형회귀 모델
lin_scores = cross_val_score(lin_reg, housing_train, housing_labels, 
                        scoring = 'neg_mean_squared_error', cv=10)
lin_rmse_scores = np.sqrt(-lin_scores)
display_scores(lin_rmse_scores)

Scores:  [67621.36459192 67050.2893707  68159.77945126 74185.17069358
 68112.25073467 71610.00721757 65235.24278175 68160.85292722
 72191.44396288 68163.77349381]
Mean:  69049.01752253601
Standard Deviation:  2581.3240040188443

In [172]:
# 랜덤포레스트 모델
from sklearn.ensemble import RandomForestRegressor

#학습
forest_reg = RandomForestRegressor()
forest_reg.fit(housing_train, housing_labels)

#평가
forest_scores = cross_val_score(forest_reg, housing_train, housing_labels, 
                        scoring = 'neg_mean_squared_error', cv=10)
forest_rmse_scores = np.sqrt(-forest_scores)

display_scores(forest_rmse_scores)

Scores:  [51547.84297023 48279.20910726 51159.98773015 52554.9537388
 51549.03181092 55667.70681805 51309.94467133 51501.64117938
 53941.56958314 52290.70346935]
Mean:  51980.259107862985
Standard Deviation:  1824.6263321369806